<!DOCTYPE html>
<html>
  <head>
    <title>Iniciar Sesión</title>
  </head>
  <body>
    <h2>Iniciar Sesión</h2>
    <form method="post" action="{% url 'usuarios:login' %}">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Iniciar Sesión</button>
    </form>
    <p>
      <a href="{% url 'usuarios:password_reset' %}"
        >¿Olvidaste tu contraseña?</a
      >
    </p>
    <p>
      ¿No tienes una cuenta?
      <a href="{% url 'usuarios:registro' %}">Regístrate aquí</a>
    </p>
  </body>
</html>
