{% extends 'base.html' %}

{% block Titulo %}
  Editar Categoría
{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow-lg p-4" style="max-width: 400px;">
            <h1 class="text-center mb-4">Editar Categoría</h1>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary w-100 mb-2">Guardar Cambios</button>
            </form>
            <!-- Botón de Volver a la lista -->
            <a href="{% url 'categoria_list' %}" class="btn btn-secondary w-100">Volver a la lista</a>
        </div>
    </div>
{% endblock %}
