{% extends 'base.html' %}

{% block Titulo %}
Crear Categoría
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="max-width: 400px;">
        <h1 class="text-center mb-4">Crear Categoría</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn w-100 mb-2" style="background-color: #3F72AF; color: white;">Crear</button>
        </form>
        <a href="{% url 'categoria_list' %}" class="btn btn-secondary w-100">Volver a la lista</a>
    </div>
</div>
{% endblock %}
