{%extends 'base.html'%} {%block content%}
    <div class="container mt-4">
        <h1 class="mb-4">Lista de Categorías</h1>
        
        <form method="get" action="{% url 'categoria_list' %}" class="mb-3 d-flex">
            <input type="text" name="q"  class="form-control me-2" placeholder="Buscar categoría...">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        <ul class="list-group">
            {% for categoria in categorias %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ categoria.descripcionCorta }} - {{ categoria.descripcionLarga }} ({{ categoria.estado|yesno:"Activo,Inactivo" }})</span>
                <div class="actions">
                    <a href="{% url 'categoria_edit' categoria.pk %}" class="btn btn-sm btn-primary">Editar</a>
                    <a href="{% url 'categoria_delete' categoria.pk %}" class="btn btn-sm btn-secondary">Eliminar</a>
                </div>
            </li>
            {% empty %}
            <li class="list-group-item">No hay categorías disponibles.</li>
            {% endfor %}
        </ul>

        <div class="mt-4">
            <a href="{% url 'categoria_create' %}" class="btn btn-secondary">Crear nueva categoría</a>
        </div>
    </div>
{%endblock%}