{% extends 'base.html' %}

{% block Titulo %}
  Asignar Permisos
{% endblock %}

{% block content %}

<style>
    .btn-primary {
        background-color: #3F72AF;
        border-color: rgba(0, 0, 0, 0.7);      /* Color del borde */
        border-radius: 10px;                   /* Bordes redondeados */

    }
    .btn-primary:hover {
        background-color: #2a415d; /* Color de fondo cuando se hace hover */
        border-color: rgba(0, 0, 0, 0.85);     /* Color del borde cuando se hace hover */
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Asignar Permisos al Rol: <strong>{{ rol.nombre }}</strong></h2>

            <div class="card shadow-sm">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-flex justify-content-between mt-4">
                            <button type="submit" class="btn btn-primary">Asignar Permisos</button>
                            <a href="{% url 'lista_roles' %}" class="btn btn-secondary">Volver a la Lista de Roles</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
