{% extends "base.html" %}
{% block Titulo %} 
  Usuarios
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <style>
            /* Estilo de la cabecera y formulario de búsqueda */
            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
            }

            .header h1 {
                font-size: calc(1.375rem + 1.5vw);
                margin-bottom: 0;
            }

            .search-create-container {
                display: flex;
                align-items: center;
                gap: 15px;
            }

            .search-form {
                display: flex;
                gap: 10px;
            }

            .search-form input {
                width: 250px; /* Ajusta el tamaño del input de búsqueda */
            }

            .list-group-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .btn-primary {
                background-color: #3F72AF;
                border-color: #3F72AF;
                color: white;
            }
            .btn-primary:hover {
                background-color: #365f91;
                border-color: #365f91;
            }




            
        </style>

        <div class="header">
            <h1 class="mb-4">Lista de Usuarios</h1>
            <div class="search-create-container">
                <!-- Bloque de búsqueda -->
                <form method="get" action="{% url 'lista_usuarios' %}" class="search-form">
                    <input type="text" name="q" class="form-control" placeholder="Buscar Usuario..." required>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>
        </div>

        <ul class="list-group">
            {% for usuario in usuarios %}
                <li class="list-group-item">
                    <a href="{% url 'ver_usuario' usuario.id %}" class="text-decoration-none text-dark">
                        <strong>{{ usuario.nombre }} {{ usuario.apellido }}</strong> - {{ usuario.email }}
                    </a>
                </li>
            {% empty %}
                <li class="list-group-item">No hay usuarios registrados.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
