{%extends 'base.html'%} {%block content%}
    <div class="container mt-4">
        <h1 class="mb-4">Lista de Roles</h1>

        <ul class="list-group">
            {% for rol in roles %}
                <li class="list-group-item">
                    <a href="{% url 'ver_rol' rol.id %}" class="text-decoration-none text-dark">
                        <strong>{{ rol.nombre }}</strong> - {{ rol.descripcion }}
                    </a>
                </li>
            {% empty %}
                <li class="list-group-item">No hay roles disponibles.</li>
            {% endfor %}
        </ul>

        <a href="{% url 'crear_rol' %}" class="btn btn-primary mt-3">Crear Nuevo Rol</a>
    </div>
{%endblock%}