{% extends 'base.html' %}

{% block Titulo %}
    Detalles del Rol
{% endblock %}

{% block content %}
<style>
    .btn-primary {
        background-color: #3F72AF;
        border-color: rgba(0, 0, 0, 0.7);      /* Color del borde */
        border-radius: 10px;                   /* Bordes redondeados */

    }
    .btn-primary:hover {
        background-color: #2a415d; /* Color de fondo cuando se hace hover */
        border-color: rgba(0, 0, 0, 0.85);     /* Color del borde cuando se hace hover */
    }
    
</style>
<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <h2 class="mb-4 text-center">Detalles del Rol: {{ rol.nombre }}</h2>

        <div class="mb-4">
            <p><strong>Descripción:</strong> {{ rol.descripcion }}</p>
        </div>

        <div class="mb-4">
            <h4>Permisos Asignados:</h4>
            <ul class="list-group">
                {% for permiso in permisos %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ permiso.nombre }}
                        <span class="text-muted">{{ permiso.descripcion }}</span>
                    </li>
                {% empty %}
                    <li class="list-group-item">No hay permisos asignados a este rol.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="d-flex justify-content-end mt-4">
            {% load tiene_permiso %}
            {% if request.user|tiene_permiso:"Roles: Asignar Permisos" %}
            <a href="{% url 'asignar_permisos' rol.id %}" class="btn btn-primary mr-3">Asignar Permisos</a>
            {% endif %}
            <a href="{% url 'lista_roles' %}" class="btn btn-secondary">Volver a la Lista de Roles</a>
        </div>
    </div>
</div>
{% endblock %}
