{% extends 'base.html' %}

{% block Titulo %}
Cambiar Contraseña
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg border-0 rounded-lg p-4" style="max-width: 500px; background: rgba(255, 255, 255, 0.25); backdrop-filter: blur(10px);">
        <div class="card-header text-center">
            <h3 class="font-weight-light my-4">Cambiar Contraseña</h3>
        </div>

        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_old_password" class="form-label">Contraseña Actual</label>
                    <input type="password" name="old_password" class="form-control" id="id_old_password" required placeholder="Ingrese su contraseña actual">
                </div>

                <div class="form-group">
                    <label for="id_new_password1" class="form-label">Nueva Contraseña</label>
                    <input type="password" name="new_password1" class="form-control" id="id_new_password1" required placeholder="Ingrese su nueva contraseña">
                </div>

                <div class="form-group">
                    <label for="id_new_password2" class="form-label">Confirmar Nueva Contraseña</label>
                    <input type="password" name="new_password2" class="form-control" id="id_new_password2" required placeholder="Confirme su nueva contraseña">
                </div>

                <div class="form-group mt-4">
                    <button type="submit" class="btn w-100" style="background-color: #3F72AF; color: white;">Actualizar Contraseña</button>
                </div>
            </form>

            <!-- Botón de Volver Atrás -->
            <div class="form-group mt-3">
                <button class="btn btn-secondary w-100" onclick="history.back()">← Volver Atrás</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
